pkgbase = clang18
	pkgdesc = C language family frontend for LLVM 18
	pkgver = 18.1.8
	pkgrel = 1
	url = https://clang.llvm.org/
	arch = x86_64
	license = Apache-2.0 WITH LLVM-exception
	checkdepends = llvm
	makedepends = llvm18
	makedepends = cmake
	makedepends = ninja
	makedepends = python-sphinx
	makedepends = python-myst-parser
	depends = llvm18-libs
	depends = gcc
	depends = compiler-rt18
	optdepends = openmp: OpenMP support in clang with -fopenmp
	optdepends = python: for scan-view and git-clang-format
	optdepends = llvm18: referenced by some clang headers
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/clang-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/clang-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/clang-tools-extra-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/clang-tools-extra-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/llvm-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/llvm-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/cmake-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/cmake-18.1.8.src.tar.xz.sig
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/third-party-18.1.8.src.tar.xz
	source = https://github.com/llvm/llvm-project/releases/download/llvmorg-18.1.8/third-party-18.1.8.src.tar.xz.sig
	source = clang-disable-float128-diagnostics-for-device-compilation.patch::https://github.com/llvm/llvm-project/commit/318bff6811e7.patch
	source = support-__GCC_-CON-DE-STRUCTIVE_SIZE.patch
	source = enable-fstack-protector-strong-by-default.patch
	validpgpkeys = 474E22316ABF4785A88C6E8EA2C794A986419D8A
	sha256sums = 5724fe0a13087d5579104cedd2f8b3bc10a212fb79a0fcdac98f4880e19f4519
	sha256sums = SKIP
	sha256sums = e58877fcd95ed106824bd1a31276dd17ed0c53adcd60ca75289eac0654f0a7f1
	sha256sums = SKIP
	sha256sums = f68cf90f369bc7d0158ba70d860b0cb34dbc163d6ff0ebc6cfa5e515b9b2e28d
	sha256sums = SKIP
	sha256sums = 59badef592dd34893cd319d42b323aaa990b452d05c7180ff20f23ab1b41e837
	sha256sums = SKIP
	sha256sums = b76b810f3d3dc5d08e83c4236cb6e395aa9bd5e3ea861e8c319b216d093db074
	sha256sums = SKIP
	sha256sums = 94a3d4df2443f9dc9e256e6c0c661ff4a4ca4f34a5ca351f065511b9694faf2a
	sha256sums = 8832b4ee02fe8a0e57fca608288242f80e348ee9b60be3eb0069c8b91a42fbf4
	sha256sums = ef319e65f927718e1d3b1a23c480d686b1d292e2a0bf27229540964f9734117a

pkgname = clang18
